<!DOCTYPE html>
<html>
<head>
    <script src="https://code.angularjs.org/1.3.0-rc.0/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="app.js"></script>
    <title>
    Angular Directives Examples
    </title>
    </head>
<body ng-app="myApp">
    <div ng-controller="myController">
        
    <input type="text" ng-model="name" />
    </div>
    <hr />
    <h3>Search Results</h3>
    <div class="list-group">
    <search-result></search-result>
    <search-result></search-result>
    </div>

    </body>
</html>