<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.angularjs.org/1.3.10/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="utility.js"></script>
    <title>My First Angular Example</title>
    </head>
    <body ng-controller="mainController">
        <div class="container">
            <label>What is your twitter handle?<input type="text" ng-model="handle" /></label><br />
        <hr />
        <p>https://www.twitter.com/<span ng-bind="convert()">{{convert()}}</span></p></div>
    </body>
</html>